.facilities-container {
  background-color: #fafafa;
  padding: 65px 0;
}
.facilities-btn {
  gap: 20px;
}

.facilities-heading h1 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.facilities-right-btn {
  border-radius: 28px;
  border: 1px solid #e4e4e7;
  background-color: #fcc42c;
  outline: none;
  width: 42px;
  height: 42px;
}

.facilities-left-btn {
  border-radius: 28px;
  outline: none;
  border: 1px solid #eaecf0;
  background-color: white;
  width: 42px;
  height: 42px;
  gap: 10px;
}

.facilities-card-container {
  padding-left: 209px;
  margin-top: 20px;
}

.card-one {
  border-radius: 10px;
  background-color: white;
  width: 478px;
  height: 196px;
  padding: 22px;
}

.slick-slide {
  margin-right: 32px;
}

.slick-slide:last-child {
  margin-right: 0;
}

.custom-slider .slick-prev,
.custom-slider .slick-next {
  display: none !important;
}

.facilities-card-text h5 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1%;
}

.facilities-card-text p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #71717a;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1440px) {
  .facilities-card-container {
    padding-left: 0px;
  }
  .facilities-card-text {
    padding-left: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .facilities-card-text h5 {
    font-size: 20px;
    line-height: 25px;
  }

  .facilities-card-text p {
    font-size: 15px;
    line-height: 25px;
  }
}
