.test-by-condition-container {
  padding: 51px 0;
  background-color: #fafafa;
}

.test-by-condition-heading h1 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.test-by-condition-btn {
  gap: 20px;
}

.test-by-condition-right-btn {
  border-radius: 28px;
  border: 1px solid #e4e4e7;
  background-color: #fcc42c;
  outline: none;
  width: 42px;
  height: 42px;
}

.test-by-condition-left-btn {
  border-radius: 28px;
  outline: none;
  border: 1px solid #eaecf0;
  background-color: white;
  width: 42px;
  height: 42px;
  gap: 10px;
}

.test-by-condition-card-container {
  padding-left: 111px;
}

.test-by-condition-card {
  width: 289px;
  height: 217px;
  box-shadow: 2px 2px 24px 0px #f7a7080a;
  margin: 16px 0 1px 0;
}

.test-by-condition-card-heading {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #f7a70842;
  border-radius: 4px 4px 0px 0px;
}

.test-by-condition-card-heading p {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 12px 0;
  margin-bottom: 0;
  color: #212121;
}

.test-by-condition-card-body {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #f7a70842;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1440px) {
  .test-by-condition-card-container {
    padding-left: 0px;
  }
  .test-by-condition-card-body img {
    width: 238px !important;
  }
}

@media screen and (max-width: 1024px) {
  .test-by-condition-card-body img {
    width: 340px !important;
  }
}
@media screen and (max-width: 768px) {
  .test-by-condition-card-body img {
    width: 254px !important;
  }
}
@media screen and (max-width: 450px) {
  .test-by-condition-heading h1 {
    font-size: 18px;
    line-height: 22.63px;
  }
  .test-by-condition-btn {
    gap: 10px;
  }
  .test-by-condition-left-btn {
    border-radius: 25px;
    width: 30px;
    height: 30px;
    gap: 10px;
  }
  .test-by-condition-right-btn {
    border-radius: 25px;
    width: 30px;
    height: 30px;
    gap: 10px;
  }
  .test-by-condition-card-body img {
    width: 211px !important;
    height: 114px !important;
  }
  .test-by-condition-container {
    padding: 0;
    background-color: #ffffff;
  }
}
