.health-container {
  padding: 60px 0;
}

.health-menu {
  gap: 42px;
}

.health-menu-title h1 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #212121;
}

.health-menu-list ul {
  gap: 42px;
}

.health-menu-list ul li a {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #71717a;
}

.health-menu-list-btn button {
  padding: 6px 10px 6px 10px;
  border-radius: 8px;
  background: #fcc42c;
  outline: none;
  border: none;
  color: white;
  font-family: Signika Negative;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.health-card-container {
  padding-left: 111px;
}

.health-card {
  width: 289px;
  height: 396px;
  background-color: white;
  border-radius: 16px;
  margin: 23px 0 20px 0;
  box-shadow: 0px 2px 10px 0px #00000014;
}

.health-card-body {
  padding: 16px;
}

.health-card-body-heading h5 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 18px;
  line-height: 22.63px;
  color: #27272a;
}
.health-card-star {
  margin-top: 6px;
}
.health-card-star span {
  margin-left: 10px;
}
.health-card-body-sub-heading p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #71717a;
  margin-top: 12px;
}

.health-card-price {
  margin-top: 12px;
}

.health-card-price-one {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fcc42c;
}
.health-card-price-two {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9a9a9a;
  margin-left: 6px;
}

.health-card-price-three {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #005e54;
  margin-left: 6px;
}
.health-card-body-button button {
  width: 100%;
  padding: 6px 10px 6px 10px;
  border-radius: 8px;
  background: #fcc42c;
  outline: none;
  border: none;

  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
