.Popular-container {
  padding: 60px 0;
  background-color: #fafafa;
}

.Popular-menu {
  gap: 42px;
}

.Popular-menu-title h1 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #212121;
}

.Popular-menu-list ul {
  gap: 42px;
}

.Popular-menu-list ul li a {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #71717a;
}

.Popular-menu-list-btn button {
  padding: 6px 10px 6px 10px;
  border-radius: 8px;
  background: #fcc42c;
  outline: none;
  border: none;
  color: white;
  font-family: Signika Negative;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.Popular-card-container {
  padding-left: 111px;
}

.Popular-card {
  width: 289px;
  max-height: 396px;
  background-color: white;
  border-radius: 16px;
  margin: 23px 0 20px 0;
  box-shadow: 0px 2px 10px 0px #00000014;
}

.Popular-card-body {
  padding: 16px;
}

.Popular-card-body-heading h5 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 18px;
  line-height: 22.63px;
  color: #27272a;
}
.Popular-card-star {
  margin-top: 6px;
}
.Popular-card-star span {
  margin-left: 4px;
}
.Popular-card-body-sub-heading p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #71717a;
  margin-top: 12px;
}

.Popular-card-price {
  margin-top: 12px;
}

.Popular-card-price-one {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fcc42c;
}
.Popular-card-price-two {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9a9a9a;
  margin-left: 6px;
}

.Popular-card-price-three {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #005e54;
  margin-left: 6px;
}
.Popular-card-body-button button {
  width: 100%;
  padding: 6px 10px 6px 10px;
  border-radius: 8px;
  background: #fcc42c;
  outline: none;
  border: none;

  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1440px) {
  .Popular-card-container {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .Popular-menu-title h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .Popular-menu-title h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 576px) {
  .Popular-menu-list-btn button {
    background: transparent;
    color: black;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
  }
  .Popular-menu-title h1 {
    font-size: 18px;
    line-height: 22.63px;
  }
}

@media screen and (max-width: 425px) {
  .Popular-container {
    padding: 40px 0 40px 0;
  }
  .Popular-card {
    margin: 10px 0 0 0;
  }
}
