.recommend-container {
  padding: 67px 0;
  position: relative;
}

.recommend-card {
  height: 350px;
  background-color: #f7f7fb;
  border-radius: 20px;
  margin-top: 22px;
}

.recommend-card-text {
  padding: 0 265px 0 40px;
}

.recommend-card-color {
  width: 410px;
  height: 350px;
  background-color: #fcc42c;
  border-radius: 0px 20px 20px 0px;
}
.recommend-card-text p {
  margin-bottom: 0;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #585981;
}

.recommend-card-text-support {
  margin-bottom: 0;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #585981;
}

.laptop {
  top: 70px;
  left: 702px;
}

.screen {
  top: 77px;
  left: 745.5px;
  border-radius: 5px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .recommend-card-color img {
    width: 325px;
    height: 350px;
    background-color: #fcc42c;
    border-radius: 0px 20px 20px 0px;
  }
  .recommend-card-text {
    padding: 0 152px 0 40px;
  }

  .laptop {
    left: 500px;
  }
  .screen {
    left: 543.5px;
  }
}
@media screen and (max-width: 768px) {
  .recommend-card-color img {
    width: 270px;
    height: 350px;
    background-color: #fcc42c;
    border-radius: 0px 20px 20px 0px;
  }
  .recommend-card-text p {
    font-size: 15px;
    line-height: 26px;
  }

  .recommend-card-text {
    padding: 0 90px 0 40px;
  }

  .laptop {
    left: 355px;
    width: 280px;
    top: 95px;
  }
  .screen {
    left: 387px;
    width: 215px;
    top: 100px;
  }
}
