.testimonial-container {
  background: #fafafa;
  padding: 66px 0;
}

.testimonial-row {
  gap: 32px;
}

.testimonial-heading h1 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.testimonial-btn {
  gap: 20px;
}

.testimonial-right-btn {
  border-radius: 28px;
  border: 1px solid #e4e4e7;
  background-color: #fcc42c;
  outline: none;
  width: 42px;
  height: 42px;
}

.testimonial-left-btn {
  border-radius: 28px;
  outline: none;
  border: 1px solid #eaecf0;
  background-color: white;
  width: 42px;
  height: 42px;
  gap: 10px;
}

.testimonial-content {
  gap: 112px;
}
.testimonial-left-side-info {
  gap: 24px;
}

.testimonial-main-heading {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #71717a;
}
.testimonial-star span {
  padding-left: 10px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #71717a;
}

.testimonial-users-img {
  gap: 42px;
}
.testimonial-text-one {
  padding: 0 11rem;

  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.17px;
  color: #27272a;
}
.testimonial-text-two {
  padding: 0 11.8rem;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.17px;
  color: #a1a1aa;
}
